body{background-color:#effff0 ;
}
h1{font-size: 60px
}
div p {	
	color: green;
	font-size: 50px;
}
h2{
	color:black;
	font-size:40px;
}
h3{
	font-size: 40px;
}
h4{
	color: royalblue;
    font-size: 30px;
}

h5{
	color: royalblue;
    font-size:30px;
}
h6{
	color: royalblue;
    font-size:30px;
}
h7{
	color: royalblue;
    font-size:30px;
}
h8{
	color: royalblue;
    font-size:30px;}


